<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form action="method" method="post">
			<input name="name" placeholder="Name">
		    <input name="email" placeholder="Email">
			
		</form>   
	</body>
</html>
