
<html>
    <head>
        <meta charset="utf-8" />
        <title>Time Dosplay</title>
    </head>
    <body>
		<h1>The Time Is...</h1>
		@{
		DateTime CurrentTime = DateTime.Now;
		}
		<h3>@CurrentTime</h3>
    </body>
</html>
